
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}


.first-section {
    color: white;
    background: rgba(0, 0, 0, 0.4) url("public/fire-website/images/nature.jpg");
    width: 100%;
    background-size: cover;
    height: 40vh;
    background-blend-mode: darken;
}

.content-wrapper {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 300px;
}

.content-wrapper div {
    margin: 10px 10px;
}

.budget-number {
    text-align: center;
}

.income-box, .expense-box {
    display: flex;
    justify-content: space-between;
}

.second-section {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.second-section input {
    color: black;
    width: 100%;
}

.minus-plus {
    width: 50px;
}

.second-section div {
    margin: 0px 10px;
}

.third-section {
    display: flex;
    justify-content: center;
}
.expense-list-box, .income-list-box{
    width: 300px;
    margin: 20px 30px ;
    background-color: #56d8e4;
}











